
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 500px;
  font-family: sans-serif;
}

#main-wrapper {
  height: 550px;
  align-items: center;
  justify-content: center;
}

#main-wrapper h3 {
  text-align: left;
}

.linkedin-logo img {
  margin-top: 8px;
  height: 46px;
  width: 70px;
}
.company-logo {
  height: 90px;
  width: 90px;
  float: left;
  margin: 10px 0px 0px -20px;
  padding-right: 5px;
}

#company-title {
  text-transform: capitalize;
  display: inline-block;
}

.company-info {
  font-size: medium;
}

.btn {
  padding-bottom: 20px;
}