*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 400px;
  font-family: sans-serif;
}

#main-wrapper {
  height: 550px;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.quiz{
  display: grid;
  grid-template-rows: 60px auto;
  width: 600px;
  height: 600px;
}

.quiz_header{
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
}
.quiz_body{
  padding: 0 50px 50px;
  background-color: #ffffff;
}

.option_group{
  list-style-type: none;
  margin: 30px 0;
}

.option{
  display: block;
  width: 300px;
  background-color: #0B65C2;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: 2px solid transparent;
  transition: 0.4s all;
  color: #ffffff;
}

li {
  position: relative; /* necessary for positioning the :after */
}

li.option {
  list-style: none; /* remove normal bullet for done items */
}

li.correct-answer:after {
  content: "";
  background-color: transparent;

  /* position the checkbox */
  position: absolute;
  right: -25px;
  top: 50%;

  /* setting the checkbox */
  /* short arm */
  width: 6px;
  border-bottom: 3px solid #4D7C2A;
  /* long arm */
  height: 11px;
  border-right: 3px solid #4D7C2A;

  /* rotate the mirrored L to make it a checkbox */
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

li.wrong-answer:before,
li.wrong-answer:after {
  content: "";
  background-color: darkred;
  position: absolute;
  right: -25px;
  top: 50%;
  width: 5%;
  height: 4px;
  border-right: 3px solid #4D7C2A;
}

li.wrong-answer::before {
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
li.wrong-answer::after {
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.option:hover{
  cursor: pointer;
  color: #0B65C2;
  background-color: #d7d6d6;
}

.option.active{
  cursor: pointer;
  color: #0B65C2;
  background-color: #d7d6d6;
}

.option.disabled,
.option.disabled:hover{
  cursor: none;
  background-color: #0B65C2;
  color: #ffffff;
}

.btn-next{
  border: solid 1px;
  padding: 0 40px 40px;
  background-color: #ffffff;
  color: #0B65C2;
  font-weight: bold;
  transition: 0.4s all;
  display: block;
  margin: 0 auto;
}

.btn-next:hover{
  cursor: pointer;
  background-color: #0B65C2;
  color: #ffffff;
}

.award_icon{
  display: block;
  font-size: 300px;
  color: #fff;
}

.username, .userpoints{
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.border{
  height: 500px;
  width: 500px;
  display: block;
  justify-content: center;
  margin: 0px 400px;
  border-radius: 10px;
  top: 100px;
  border-color: transparent;
}

.linkedin-logo img {
  margin-top: 8px;
  height: 46px;
  width: 70px;
}